@media(max-width: 1080px){
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* utility class */
body{
  background: black;
  color: white;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: white;
}
.container{
  
  width: 85vw;
  margin: auto;
  
}
.flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.relative{
  position: relative;
}



/* NAV BAR */
nav{
  width: 100vw;
  height: 55px;
  background: black;
  justify-content: space-between;
  position: fixed;
  z-index: 5;
}
nav h1{
  margin-left: 10px;
  font-weight: 400;
  font-size: 1.2rem;
}
span.a{
  font-weight: 700;
  font-size: 1.5rem;
  color: rgb(250,50,150);
  
}
.list{
  color: white;
  font-size: 8px;
}
 .nav-links{
  gap: 7px;
  justify-content: end;
}
.nav-links a:hover{
  background: #ff004f;
  /* transform: translateY(-5px); */
  transition: 0.5s;
}


/* GAP */
.gap{
  width: 100vw;
  height: 5vw;
  background: linear-gradient(to top, black, grey);
}



/* HEADER */
.my-name{
  margin-top: 10vw;
  margin-left: 7.5vw;
  line-height: 40px;
  font-weight: bold;
  font-size: 1rem;
}
span.myname{
  font-weight: 900;
  font-size: 2rem;
  /* margin-left: 20px; */
  color: rgb(250,50,150);
}
span.im{
  font-size: 1.5rem;
}
span.haldia{
  font-size: 1rem;
  /* word-spacing: 10px; */
}
.my-main-pic{
  width:70vw;
}
.header-div{
  justify-content: space-between;
}



/* ABOUT ME SECTION */

.my-second-pic{
  margin-top: 15vw;
  width: 50vw;
  height: 300px;
  border: 5px solid grey;
  border-radius: 2%;
}
.about-me{
  margin-left:40px;
  /* margin-top: 15vw; */
}
.about-me-text{
  text-decoration: underline;
  font-weight: 700;
  font-size: 1rem;
  padding-bottom: 10px;
}
.about-me p{
  font-size: 0.6rem;
}


.sub-about{
  margin-top: 30px;
  gap: 8px;
  position: relative;
}
.sub-about p{
  font-size: 0.5rem;
  font-weight: 700;
}
.sub-about::after{
  content:'';
  width: 10px;
  height: 2px;
  background: red;
  position: absolute;
  top: 10px;
}
.sub-about-content{
  margin-top: 10px;
}
.skills ul p span{
  color: red;
}
.skills ul p{
  font-size: 0.5rem;
  line-height: 10px;
}



/* ----------my services--------- */
#my-services{
  margin-top: 70px;
}
#my-services h2{
  margin-bottom: 30px;
  font-size: 2rem;
  text-align: center;
}
.Services-boxes{

}
.Services-box{
  width: 70vw;
  border: 3px solid grey;
  text-align: center;
  border-radius: 5px;
  padding-top: 10px;
  margin: 35px auto 0 auto;
}
.Services-box:hover{
  background: linear-gradient(to top right, #ff004f, grey);
  transform: translateY(-10px);
  transition: 1s;
}


/* ----------my works---------- */

#my-work{
  margin-top: 70px;
}
#my-work h2{
  margin-bottom: 30px;
  font-size: 2rem;
  text-align: center;
}

.work-list img{
  width: 70vw;
  height: 180px;
  border: 2px solid pink;
  margin-left: 30px;
  margin-top: 20px;
  
}
.work{
  text-align: center;
  font-weight:900;
  color: white;
  margin: 0 23px 0 23px;
  border: 2px dotted red;
}
.layer:hover{
  background: linear-gradient(rgba(0,0,0,0), #ff004f);
  width: 85%;
  height: 90%;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  text-align: center;
  justify-content: center;
  padding-top: 30px;
}



.hi{
  flex-direction: column;
}
.contact-items h2{
  margin-top: 50px;
  font-size: 1.8rem;
  text-align: center;
}
.for-gap{
  line-height: 30px;
}
.feedback{
  width: 75vw;
  border: 2px solid grey;
  border-radius: 4px;
  /* border range: 5px; */
  margin: 25px auto;
  background: linear-gradient(to top left, grey, black);
}
#name, #email{
  width: 80%;
  height: 40px;
  margin:20px 10px 10px 5px;
  border-radius: 7px;
}
#feedback{
  width: 80%;
  height: 100px;
  margin: 10px 0 5px 5px;
  border-radius: 7px;
  text-align: center;
}
#submit{
  height: 30px;
  width:80px;
  font-weight: 700;
  margin-left: 5px;
  margin-top: 20px;
  border-radius: 7px;
  margin-bottom: 15px;
  background: #ff004f;
}
footer{
  width: 100vw;
  font-weight: 500;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
}
.gap1{
  width: 100vw;
  height: 10vw;
  background: linear-gradient(to top, grey, black);
}
#fb,#insta,#linkedin{
  width: 30px;
  margin: 5px 8px;
}
}
