/* @media(min-width: 600px) and (max-width: 767px){
   */
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    color: white;
  }
  
  .container{
    
    padding: 5px 30px;
    background: linear-gradient(to top right, black, grey);
    padding-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 20px;
  }
  
.left-text{
  text-align: center;
  padding-bottom: 50px;
  font-size: 1.2rem;
  
}
.left-text h2{
  font-size: 2rem;
  font-weight: bold;
  color: #ff004f;
}
.right-box{
display: grid;
grid-template-rows: repeat(7, 120px);
gap:8px;
}
.box{
  background-size: cover;
  background-position: top;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  
  background-color: #222;
  background-blend-mode: hard-light;
  
  transition: 1s all ease-in;
}
.box:hover{
  background-position: center;
  background-color: #999;
  box-shadow: 2px 2px 5px white;
}
